@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body {
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
}
.b-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    height: 640px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.card img {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: aquamarine;
}
.card {
   width: calc(25% - 10px);
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.3%;
    transition: transform 0.5s;
    margin:5px;
    transform: scale(1);
    transform-style:preserve-3d ;
    cursor: pointer;
}
.card:active {
    transform: scale(0.9)
}

.front-image,
.back-image {
    position: absolute;
    backface-visibility: hidden;
}
.back-image {
    transform: rotateY(180deg);
}
.card.girar {
    transform: rotateY(180deg);
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.wrapper-text {
    display: flex;
    justify-content: space-around;
    width: 100%;
}